body {
	background-image: url(bruh.avif);
	background-size: 40%;
}

h1{
	color: white;
}

h3 {
	border: 5px double mediumpurple;
	width: 60px;
}

h4{
	color: skyblue;
	border: 5px gray solid;
}

a {
	color: plum;
}

#chatgpt{
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff;
  }
}
