h1 {
	text-align: center;
	border: 20px solid orange;
	font: roboto;
	font-size: 150px;
	color: orange;
}
h3{
	border: 5px double mediumpurple;
	width: 60px;
}
ul{
	border: 10px double orange;
	background-image: url(cat-background.jpg);
	background-size: cover;
	background-position: center;
}
li{
	font: roboto;
	font-size: 50px;
	color: orange;
}
