body{
	background-color: skyblue;
}

h1{color:gold;
text-align: center;}
h2{
	color:rgb(0,150,255);
	text-align: center;

}
.header3{
	text-align:center;
	color: aqua;
}
ul {
background-image: url(background.jpg);
background-size: cover;
background-position: center;
border:5px dashed;
border-color: green;
color:whitesmoke;
}
.link{
	font-style: normal;
	font-size:150%;
	border:3px solid;
	border-color: cyan;
	color: gold;
}
.cow{
	cursor: pointer;
}
.header{
	font-style: italic;
	font-size: 900%;
	border: 20px solid;
	border-color: gold;
}
.home {
	text-align: left;
	border: 5px double mediumpurple;
	width: 60px;
}
