.img {
	display: flex;
	align-content: flex-start;
	width: 100%;
	border-radius: 20px;
}

.a {
	display: flex;
	flex-direction: column;
	border: 5px solid gold;	
	border-radius: 22px;
	width: 40%;
	height: 25%;
	margin: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.text {
	margin-left: 0px;
	display: flex;
	font-family: roboto;
	font-size: 125%;
}

.fact1 {
	color: lawngreen;
}

.fact2 {
	color: gold;
}

.fact3 {
	color: skyblue;
}

#facts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-content: center;
}