body{
	display: flex;
	flex-direction: column;
	margin: 0px;
	background-image:url(back.avif);
	background-size: 33%;
	justify-content: center;
	align-items: center;
}

h6{
	margin-right: 10px;
	margin-left: 10px;
	color: rgb(0,0,255);
	background-color:rgb(255,255,255);
}

img {
	margin: 20px;
	border: 5px solid aqua;
}

.b1{
	margin:3px;
	background-color: rgb(255, 155,0);
	text-align: center;
	border: 2px solid blue;
	color: white;
	text-decoration: blue underline;
	text-decoration: blue underline wavy;
	cursor: pointer;
}

.b2{
	color: white;
	background-color: rgba(250,150,0,0.7);
	margin-bottom: 3px;
	cursor: pointer;
	border-radius: 1000px;
	height: 100px;
	width: 200px;
}

.loginlink{
	text-align: center;
	color: aqua;
	width: 100%;
	background-color: rgba(0, 0, 255, 0.4);
	border: 5px solid aquamarine;
}

.login{
	color: aqua;
}

.input{
	display: flex;
	justify-content: center;
	margin: 10px;
}

#stuff{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#header {
	margin-right: 10px;
	margin-left: 10px;
	color: lightskyblue;
	text-align: center;
	background-color: rgba(0, 0, 255, 0.4);
}




